<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xust.iot.mapper.CameraMapper">
    <resultMap id="BaseResultMap" type="cn.edu.xust.iot.model.entity.Camera">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="device_status" jdbcType="CHAR" property="deviceStatus"/>
        <result column="region_id" jdbcType="INTEGER" property="regionId"/>
        <result column="algorithm" jdbcType="CHAR" property="algorithm"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="port" jdbcType="INTEGER" property="port"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="mac_address" jdbcType="VARCHAR" property="macAddress"/>
        <result column="sdc_version" jdbcType="VARCHAR" property="sdcVersion"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, device_name, device_status, region_id, algorithm, ip, port, user_name, password,
    model, mac_address, sdc_version
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from camera
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from camera
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from camera;
    </select>

    <insert id="insert" parameterType="cn.edu.xust.iot.model.entity.Camera">
        insert into camera (device_name, device_status,
                            region_id, algorithm, ip,
                            port, user_name, password,
                            model, mac_address, sdc_version)
        values (#{deviceName,jdbcType=VARCHAR}, #{deviceStatus,jdbcType=CHAR},
                #{regionId,jdbcType=INTEGER}, #{algorithm,jdbcType=CHAR}, #{ip,jdbcType=VARCHAR},
                #{port,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{model,jdbcType=VARCHAR}, #{macAddress,jdbcType=VARCHAR}, #{sdcVersion,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="cn.edu.xust.iot.model.entity.Camera">
        insert into camera
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceName != null">
                device_name,
            </if>
            <if test="deviceStatus != null">
                device_status,
            </if>
            <if test="regionId != null">
                region_id,
            </if>
            <if test="algorithm != null">
                algorithm,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="port != null">
                port,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="macAddress != null">
                mac_address,
            </if>
            <if test="sdcVersion != null">
                sdc_version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceName != null">
                #{deviceName,jdbcType=VARCHAR},
            </if>
            <if test="deviceStatus != null">
                #{deviceStatus,jdbcType=CHAR},
            </if>
            <if test="regionId != null">
                #{regionId,jdbcType=INTEGER},
            </if>
            <if test="algorithm != null">
                #{algorithm,jdbcType=CHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                #{port,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="macAddress != null">
                #{macAddress,jdbcType=VARCHAR},
            </if>
            <if test="sdcVersion != null">
                #{sdcVersion,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.xust.iot.model.entity.Camera" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        update camera
        <set>
            <if test="deviceName != null">
                device_name = #{deviceName,jdbcType=VARCHAR},
            </if>
            <if test="deviceStatus != null">
                device_status = #{deviceStatus,jdbcType=CHAR},
            </if>
            <if test="regionId != null">
                region_id = #{regionId,jdbcType=INTEGER},
            </if>
            <if test="algorithm != null">
                algorithm = #{algorithm,jdbcType=CHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="port != null">
                port = #{port,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="macAddress != null">
                mac_address = #{macAddress,jdbcType=VARCHAR},
            </if>
            <if test="sdcVersion != null">
                sdc_version = #{sdcVersion,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.edu.xust.iot.model.entity.Camera">
        update camera
        set device_name   = #{deviceName,jdbcType=VARCHAR},
            device_status = #{deviceStatus,jdbcType=CHAR},
            region_id     = #{regionId,jdbcType=INTEGER},
            algorithm     = #{algorithm,jdbcType=CHAR},
            ip            = #{ip,jdbcType=VARCHAR},
            port          = #{port,jdbcType=INTEGER},
            user_name     = #{userName,jdbcType=VARCHAR},
            password      = #{password,jdbcType=VARCHAR},
            model         = #{model,jdbcType=VARCHAR},
            mac_address   = #{macAddress,jdbcType=VARCHAR},
            sdc_version   = #{sdcVersion,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>