<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xust.iot.mapper.PowerMapper">
  <resultMap id="BaseResultMap" type="cn.edu.xust.iot.model.entity.Power">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="power_rule" jdbcType="VARCHAR" property="powerRule" />
    <result column="power_name" jdbcType="VARCHAR" property="powerName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, power_rule, power_name
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from power
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from power
  </select>

  <select id="countPowerRuleNum" resultType="int">
    select count(*) from power
  </select>

  <select id="selectPowerIdByPowerRule" resultType="int">
    select id from power where power_rule = #{powerRule}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from power
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.xust.iot.model.entity.Power">
    insert into power (id, power_rule, power_name
      )
    values (#{id,jdbcType=INTEGER}, #{powerRule,jdbcType=VARCHAR}, #{powerName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.xust.iot.model.entity.Power">
    insert into power
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="powerRule != null">
        power_rule,
      </if>
      <if test="powerName != null">
        power_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="powerRule != null">
        #{powerRule,jdbcType=VARCHAR},
      </if>
      <if test="powerName != null">
        #{powerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.xust.iot.model.entity.Power">
    update power
    <set>
      <if test="powerRule != null">
        power_rule = #{powerRule,jdbcType=VARCHAR},
      </if>
      <if test="powerName != null">
        power_name = #{powerName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.xust.iot.model.entity.Power">
    update power
    set power_rule = #{powerRule,jdbcType=VARCHAR},
      power_name = #{powerName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>