<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员资料编辑-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/css/font.css" th:src="@{/static/css/font.css}">
    <link rel="stylesheet" href="../../static/css/weadmin.css" th:src="@{/static/css/weadmin.css}">
    <script src="../../static/lib/layui/layui.js" charset="utf-8" th:src="@{/static/lib/layui/layui.js}"></script>
    <script src="../../static/js/common.js" th:src="@{/static/js/common.js}"></script>
    <script src="../../static/js/eleDel.js" th:src="@{/static/js/eleDel.js}" type="text/javascript" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="weadmin-body">
    <form class="layui-form" >
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="we-red">*</span>姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="username" lay-verify="required|nikename" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="sex" class="layui-form-label">性别</label>
            <div class="layui-input-block" id="sex">
                <input type="radio" name="sex" value="0" title="男" checked>
                <input type="radio" name="sex" value="1" title="女">
                <input type="radio" name="sex" value="-1" title="未知">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="birth" class="layui-form-label">
                <span class="we-red">*</span>出生日期
            </label>
            <div class="layui-input-inline">
                <input type="text" id="birth" name="birth" autocomplete="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                <span class="we-red">*</span>手机
            </label>
            <div class="layui-input-inline">
                <input type="text" id="phone" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="address" class="layui-form-label">
                <span class="we-red">*</span>地址
            </label>
            <div class="layui-input-inline">
                <input type="text" id="address" name="address" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="create_time" class="layui-form-label">
                <span class="we-red">*</span>加入时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="create_time" name="create_time" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="cert_no" class="layui-form-label">
                <span class="we-red">*</span>证件号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="cert_no" name="cert_no" lay-verify="required|identity" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="is_manager" class="layui-form-label">
                <span class="we-red">*</span>是否管理层
            </label>
            <div class="layui-input-inline">
                <select name="is_manager" id="is_manager">
                    <option value="-1">请选择</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="job" class="layui-form-label">
                <span class="we-red">*</span>职位/工种
            </label>
            <div class="layui-input-inline">
                <input type="text" id="job" name="job" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="face_pic" class="layui-form-label">
                <span class="we-red">*</span>人脸头像
            </label>
            <div class="layui-input-inline">
                <input type="hidden" id="face_pic" name="face_pic" autocomplete="off" class="layui-input">
                <button type="button" class="layui-btn" id="upload_face_pic_btn">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <a href="" id="face_pic_show" style="color: #1E9FFF"></a>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="memo" class="layui-form-label">
                <span class="we-red"></span>备注
            </label>
            <div class="layui-input-inline">
                <textarea id="memo" name="memo"  class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="dataId" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="edit" lay-submit="">确定</button>
            <input type="hidden" name="dataId" id="dataId" value=""/>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['form', 'jquery', 'admin', 'layer', 'laydate', 'layedit','upload'], function () {
        var form = layui.form,
            $ = layui.jquery,
            admin = layui.admin,
            layer = layui.layer,
            date = layui.laydate,
            editor = layui.layedit,
            uploader = layui.upload;

        //执行实例
        uploader.render({
            elem: '#upload_face_pic_btn' //绑定元素
            , url: '/upload/default' //上传接口
            , accept: 'images'
            , done: function (response) {
                //上传完毕回调
                if (response.code == 203) {
                    layer.msg("上传成功");
                    $('input[name="face_pic"]').val(response.data);
                    $('#face_pic_show').text(response.data);
                    $('#face_pic_show').attr('href', response.data);
                } else {
                    layer.open({
                        title: '出错啦！',
                        content: response.msg,
                    });
                }
            }
            , error: function (response) {
                //请求异常回调
                layer.open({
                    title: '出错啦！',
                    content: response.msg,
                });
            }
        });

        date.render({
            elem: '#birth' //指定元素
        });
        date.render({
            elem: '#create_time' //指定元素
        });
        editor.build('memom', {
            height: 40,
            hideTool: [
                'strong' //加粗
                , 'italic' //斜体
                , 'underline' //下划线
                , 'del' //删除线

                , '|' //分割线

                , 'left' //左对齐
                , 'center' //居中对齐
                , 'right' //右对齐
                , 'link' //超链接
                , 'unlink' //清除链接
                , 'face' //表情
                , 'image' //插入图片
                , 'help' //帮助
            ]
        });
        //自定义验证规则
        form.verify({
            username: function (value) {
                let regexp=/^[\u4e00-\u9fa5]{1,6}(·[\u4e00-\u9fa5]{1,6}){0,2}$/;
                if(!regexp.test(value)){
                    return '请输入正确的姓名';
                }
            }
        });
        //页面初始化加载
        $(function () {
            $('.layui-input-inline').css('width','280px');
            setTimeout(function () {
                frameVal();
            }, 100);
        });

        function frameVal() {
            var dataId = $('input[name="dataId"]').val();
            parent.layui.jquery("#memberList tr").each(function () {
                if ($(this).attr('data-id') == dataId) {
                    var tdArr = $(this).children('td');
                    console.log(tdArr);
                    var username = tdArr.eq(2).text(); //姓名
                    var sex = tdArr.eq(3).text(); //性别
                    var birth = tdArr.eq(4).text(); //出生日期
                    var phone = tdArr.eq(5).text(); //手机
                    var address = tdArr.eq(6).text(); //地址
                    var create_time=tdArr.eq(7).text(); //加入时间
                    var cert_no= tdArr.eq(8).text(); //证件号
                    var isManager= tdArr.eq(9).text()=="是"?1:2; //是否管理层
                    var job= tdArr.eq(10).text(); //工种
                    var face_pic= tdArr.eq(11).children('img')[0].src; //人脸头像
                    var memo= tdArr.eq(12).text(); //备忘录

                    $('input[name="username"]').val(username);
                    $('input[name="sex"][value="' + sex + '"]').attr("checked", true);
                    $('input[name="phone"]').val(phone);
                    $('input[name="birth"]').val(birth);
                    $('input[name="cert_no"]').val(cert_no);
                    $('input[name="job"]').val(job);
                    $('input[name="address"]').val(address);
                    $('input[name="create_time"]').val(create_time);
                    $("#is_manager").each(function(){
                        $(this).find("option").eq(isManager).prop("selected",true)
                    });
                    $('input[name="face_pic"]').val(face_pic);
                    $('#face_pic_show').text(face_pic);
                    $('#face_pic_show').attr('href', face_pic);
                    $('#memo').val(" "+memo);
                    form.render();
                }
            });
        }

        //监听提交
        form.on('submit(edit)', function (data) {
            var formDate = data.field;
            var userId=$('input[name="dataId"]').val();
            console.log(formDate);
            $.ajax({
                //请求获得所有的工人数据
                url: "/admin/members/edit",
                method: "post",
                contentType: "application/json",
                sync: false,
                data: JSON.stringify({
                    "token": localStorage.getItem(USER_LOGIN_TOKEN),
                    "userId":userId,
                    "gender": formDate.sex,
                    "name": formDate.username,
                    "phone": formDate.phone,
                    "job": formDate.job,
                    "birth": formDate.birth,
                    "address": formDate.address,
                    "certificateNo": formDate.cert_no,
                    "isManager": formDate.is_manager,
                    "createTime": formDate.create_time,
                    "memo": formDate.memo,
                    "userAvatarUrl":formDate.face_pic
                }),
                success: function (response) {
                    if (response.code == 200) {
                        layer.msg("修改成功",{icon:1});
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('#table-data').empty();
                        //关闭当前frame
                        parent.layer.close(index);
                        parent.loadTable();
                    } else {
                        layer.msg(response.msg,{icon:2});
                    }
                },
                error: function (response) {
                     layer.msg(response.msg,{icon:2});
                }
            });
            return false;
        });

    });
</script>
</body>

</html>