<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>监控摄像机管理-智慧工地后台管理系统 - v1.0</title>
    <meta name="Description" content="基于layUI数据表格操作"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/css/font.css" th:src="@{/static/css/font.css}">
    <link rel="stylesheet" href="../../static/css/weadmin.css" th:src="@{/static/css/weadmin.css}">
    <script src="../../static/lib/layui/layui.js" charset="utf-8" th:src="@{/static/lib/layui/layui.js}"></script>
    <script src="../../static/js/common.js" th:src="@{/static/js/common.js}"></script>
    <script src="../../static/js/eleDel.js" th:src="@{/static/js/eleDel.js}" type="text/javascript"
            charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .layui-form-switch {
            width: 55px;
        }

        .layui-form-switch em {
            width: 40px;
        }

        body {
            overflow-y: scroll;
        }
        th,td{
            text-align: center !important;
            vertical-align: middle;
        }
    </style>
</head>

<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="javascript:void(0);">首页</a>
        <a href="javascript:void(0);">设备管理</a>
        <a href="javascript:void(0);">
          <cite>监控摄像机管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
    </a>
</div>
<div class="weadmin-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 we-search">
            设备搜索：
            <div class="layui-input-inline">
                <select name="cateid">
                    <option value="0">请选择设备区域</option>
                    <option value="1">区域1</option>
                    <option value="2">区域2</option>
                    <option value="3">区域3</option>
                    <option value="4">区域4</option>
                    <option value="5">区域5</option>
                    <option value="6">区域6</option>
                    <option value="7">区域7</option>
                    <option value="8">区域8</option>
                    <option value="9">区域9</option>
                    <option value="10">区域10</option>
                </select>
            </div>
            <div class="layui-inline">
                <input class="layui-input" placeholder="开始日" name="start" id="start">
            </div>
            <div class="layui-inline">
                <input class="layui-input" placeholder="截止日" name="end" id="end">
            </div>
            <div class="layui-inline">
                <input type="text" name="keyword" placeholder="请输入区域查询摄像机" autocomplete="off" class="layui-input">
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <div class="weadmin-block demoTable">
        <button class="layui-btn layui-btn-danger" data-type="getCheckData" onclick="delAllCameras()">
            <i class="layui-icon">&#xe640;</i>批量删除
        </button>
        <button class="layui-btn" onclick="WeAdminShow('添加监控摄像头','./add.html',800,500)"><i class="layui-icon">&#xe61f;</i>添加
        </button>
        <span class="fr" style="line-height:40px">共有数据：<span id="camera-total"></span> 条</span>
    </div>
    <table class="layui-table" id="camerasList" lay-filter="camerasList">

        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary">
                    <i class="layui-icon">&#xe605;</i>
                </div>
            </th>
            <th>编号</th>
            <th>设备名称</th>
            <th>设备型号</th>
            <th>IP地址</th>
            <th>端口</th>
            <th>物理地址</th>
            <th>软件版本</th>
            <th>架设区域</th>
            <th>识别算法</th>
            <th>用户名</th>
            <th>密码</th>
            <th>设备状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="table-data">
        </tbody>

    </table>


    <!--分页-->
    <div id="page">
    </div>

</div>
</body>
<script type="text/javascript">

    //将数据填充到表格中
    function appendData2Table(data) {
        //清空初始化表格
        $('#table-data').empty();
        $.each(data, function () {
            var deviceId = this.id;
            var deviceName = this.deviceName;
            var model = this.model;
            var ip = this.ip;
            var port =this.port;
            var macAddress = this.macAddress;
            var sdcVersion = this.sdcVersion;
            var regionName = this.regionName;
            var algorithmName = this.algorithmName;
            var userName = this.userName;
            var password = this.password;
            var deviceStatus = this.deviceStatus;
            var createTime = this.createTime;

            $('#table-data').append("<tr data-id="+deviceId+">\n" +
                "            <td>\n" +
                "                <div class=\"layui-unselect layui-form-checkbox\" lay-skin=\"primary\" data-id="+deviceId+">\n" +
                "                    <i class=\"layui-icon\">&#xe605;</i>\n" +
                "                </div>\n" +
                "            </td>\n" +
                "            <td>" + deviceId + "</td>\n" +
                "            <td>" + deviceName + "</td>\n" +
                "            <td>" + model + "</td>\n" +
                "            <td>" + ip + "</td>\n" +
                "            <td>" + port + "</td>\n" +
                "            <td>" + macAddress + "</td>\n" +
                "            <td>" + sdcVersion + "</td>\n" +
                "            <td>" + regionName + "</td>\n" +
                "            <td>" + algorithmName + "</td>\n" +
                "            <td>" + userName + "</td>\n" +
                "            <td>" + password + "</td>\n" +
                "            <td>" + deviceStatus + "</td>\n" +
                "            <td>" + createTime + "</td>\n" +
                "            <td class=\"td-manage\">\n" +
                "                <a title=\"编辑\" onclick=\"WeAdminEdit('编辑监控摄像机','./edit.html', "+deviceId+", 800, 520)\" href=\"javascript:;\">\n" +
                "                    <i class=\"layui-icon layui-icon-edit\"></i>\n" +
                "                </a>\n" +
                "                <a title=\"删除\" onclick=\"device_del(this,"+deviceId+")\" href=\"javascript:;\">\n" +
                "                    <i class=\"layui-icon layui-icon-delete\"></i>\n" +
                "                </a>\n" +
                "            </td>\n" +
                "        </tr>")

        });
    }

    //加载表格数据
    function loadTable(pageNo,pageSize){
        if(undefined===pageNo){
            pageNo=1;
        }
        if(undefined===pageSize){
            pageSize=5;
        }
        $.ajax({
            //请求获得所有的工人数据
            url: "/admin/cameras/list?page="+pageNo+"&pageSize="+pageSize+"&token=" + localStorage.getItem(USER_LOGIN_TOKEN),
            method: "get",
            contentType: "application/json",
            sync: false,
            success: function (response) {
                if (response.code == 200) {
                    console.log(response.data);
                    var pageInfo=response.data;
                    var dataArr=pageInfo.list;
                    appendData2Table(dataArr);
                } else {
                    layer.msg(response.msg, {icon: 2});
                }
            },
            error: function (response) {
                layer.msg(response.msg, {icon: 2});
            }
        });
    }

    //删除监控摄像头
    function deleteTableItem(deviceId){
        $.ajax({
            //请求获得所有的工人数据
            url: "/admin/cameras/remove?token="+localStorage.getItem(USER_LOGIN_TOKEN)+"&cameraIds="+deviceId,
            method: "get",
            contentType: "application/json",
            sync: false,
            success: function (response) {
                if (response.code == 200) {
                    layer.msg('删除成功!', {icon: 1});
                    //重新加载table
                    loadTable();
                } else {
                    layer.msg(response.msg, {icon: 2});
                }
            },
            error: function (response) {
                layer.msg(response.msg, {icon: 2});
            }
        });
    }


    layui.use(['form', 'layer', 'jquery','admin','laypage'], function () {
        var form = layui.form,
            admin= layui.admin,
            layer = layui.layer,
            table=layui.table;

        var laypage = layui.laypage;

        var total=0;

        //删除指定的一个监控摄像机
        window.device_del = function (obj, deviceId) {
            console.log("删除的id:"+deviceId);
            layer.confirm('确认要删除吗？', function() {
                deleteTableItem(deviceId);
            });
        };

        //删除所有监控摄像机
        window.delAllCameras = function () {
            var data = tableCheck.getData();
            console.log("批量删除:"+data);
            if(data.length<=0){
                layer.msg("请选中需要删除的数据",{icon:3});
                return;
            }
            layer.confirm('确认要删除吗？' + data, function(index) {
                //捉到所有被选中的，发异步进行删除
                deleteTableItem(data);
            });
        };

        //页面加载成功之后随即向后端服务器发送ajax请求，请求人员数据
        $(function () {
            total=getMembersNum();
        });

        function getMembersNum(){
            let count=0;
            $.ajax({
                //请求获得所有的工人数据
                url: "/admin/cameras/count?token=" + localStorage.getItem(USER_LOGIN_TOKEN),
                method: "get",
                contentType: "application/json",
                async: false,
                success: function (response) {
                    if (response.code == 200) {
                        if(undefined!=response.data) {
                            count = response.data;
                        }
                        $('#camera-total').text(count);
                    } else {
                        layer.msg(response.msg, {icon: 2});
                    }
                },
                error: function (response) {
                    layer.msg(response.msg, {icon: 2});
                }
            });
            return count;
        }

        //执行一个laypage实例
        laypage.render({
            elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
            count: total, //数据总数，从服务端得到
            limit: 5, //每一页显示的数据量
            limits:[5,10,15,20,50,100,'全部'],
            layout: ['prev', 'page', 'next', 'limit',  'skip'],
            groups:5,  //在屏幕上显示的页面个数
            jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数
                if(obj.limit==='全部'){
                    obj.limit=-1; //后端会把他理解为全部查询
                }
                loadTable(obj.curr,obj.limit);
            }
        });


    });



</script>

</html>