<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理-智慧工地后台管理系统 - v1.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="./favicon.ico" th:src="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/font.css" th:src="@{/static/css/font.css}">
    <link rel="stylesheet" href="../static/css/weadmin.css" th:src="@{/static/css/weadmin.css}">
    <script src="../static/lib/layui/layui.js" charset="utf-8" th:src="@{/static/lib/layui/layui.js}"></script>
    <script src="../static/js/common.js" th:src="@{/static/js/common.js}"></script>
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a th:href="@{/admin/index(token=${token})}">智慧工地后台管理系统</a>
    </div>
    <div class="left_open">
        <!-- <i title="展开左侧栏" class="iconfont">&#xe699;</i> -->
        <i title="展开左侧栏" class="layui-icon layui-icon-shrink-right"></i>

    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a id="username" href="javascript:void(0);">Admin</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a th:href="@{/admin/about}" onclick="WeAdminShow('个人信息','http://www.baidu.com')">个人信息</a>
                </dd>
                <dd>
                    <a th:href="@{/user/logout}" onclick="WeAdminShow('切换帐号','./login.html')">切换帐号</a>
                </dd>
                <dd>
                    <a class="loginout" th:href="@{/user/logout}" href="./login.html">退出</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a th:href="@{/admin/index(token=${token})}" target="_blank">前台首页</a>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul class="nav" id="nav">
            <li id="menu1" class="open"><a _href=""><i class="layui-icon layui-icon-user"></i><cite>人员管理</cite><i
                    class="iconfont nav_right"></i></a>
                <ul class="sub-menu" style="display: block;">
                    <li id="menu1-1"><a _href="./member/list.html"><i class="iconfont"></i><cite>人员列表</cite></a>
                    </li>
                </ul>
            </li>
            <li id="menu2"><a _href=""><i class="layui-icon layui-icon-read"></i><cite>设备管理</cite><i
                    class="iconfont nav_right"></i></a>
                <ul class="sub-menu" style="">
                    <li id="menu2-1"><a _href="./device/list.html"><i class="iconfont"></i><cite>监控摄像机管理</cite></a>
                    </li>
                </ul>
            </li>
            <li id="menu3"><a _href=""><i class="layui-icon layui-icon-util"></i><cite>管理员权限</cite><i
                    class="iconfont nav_right"></i></a>
                <ul class="sub-menu" style="">
                    <li id="menu3-1"><a _href="./administrator/list.html"><i class="iconfont"></i><cite>管理员列表</cite></a>
                    </li>
                    <li id="menu3-2"><a _href="./administrator/role.html"><i class="iconfont"></i><cite>角色管理</cite></a>
                    </li>
                    <li id="menu3-3"><a _href="./administrator/cate.html"><i class="iconfont"></i><cite>权限分类</cite></a>
                    </li>
                    <li id="menu3-4"><a _href="./administrator/rule.html"><i class="iconfont"></i><cite>权限管理</cite></a>
                    </li>
                </ul>
            </li>
            <li id="menu4"><a _href=""><i class="layui-icon layui-icon-form"></i><cite>工程进度管理</cite><i
                    class="iconfont nav_right"></i></a>
                <ul class="sub-menu" style="">
                    <li id="menu4-1"><a _href="./administrator/list.html"><i class="iconfont"></i><cite>工程进度列表</cite></a>
                    </li>
                </ul>
            </li>
            <li id="menu5"><a _href=""><i class="layui-icon layui-icon-chart"></i><cite>工程预算管理</cite><i
                    class="iconfont nav_right"></i></a>
                <ul class="sub-menu" style="">
                    <li id="menu5-1"><a _href="./administrator/list.html"><i class="iconfont"></i><cite>工程预算列表</cite></a>
                    </li>
                </ul>
            </li>
            <!--<li id="menu6"><a _href=""><i class="layui-icon layui-icon-util"></i><cite>工程预算管理</cite><i
                    class="iconfont nav_right"></i></a>
                <ul class="sub-menu" style="">
                    <li id="menu6-1"><a _href="./administrator/list.html"><i class="iconfont"></i><cite>管理员列表</cite></a>
                    </li>
                    <li id="menu6-2"><a _href="./administrator/role.html"><i class="iconfont"></i><cite>角色管理</cite></a>
                    </li>
                    <li id="menu6-3"><a _href="./administrator/cate.html"><i class="iconfont"></i><cite>权限分类</cite></a>
                    </li>
                    <li id="menu6-4"><a _href="./administrator/rule.html"><i class="iconfont"></i><cite>权限管理</cite></a>
                    </li>
                </ul>
            </li>-->
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
        <ul class="layui-tab-title" id="tabName">
            <li>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe th:src='@{/welcome.html}' frameborder="0" scrolling="yes" class="weIframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2021 智慧工地后台管理系统 v1.0 All Rights Reserved</div>
</div>
<!-- 底部结束 -->
<script type="text/javascript">

    var TOKEN=localStorage.getItem(USER_LOGIN_TOKEN);

    layui.config({
        base: '../static/js/'
        , version: '101100'
    }).extend({ //设定模块别名
        admin: 'admin'
        , menu: 'menu'
    });
    layui.use(['jquery', 'admin', 'menu'], function () {
        var $ = layui.jquery,
            admin = layui.admin,
            menu = layui.menu;


        //页面加载之后需要干的事情
        $(function () {
            $.ajax({
                url: "/user/info",
                method: "get",
                contentType: "application/json",
                sync: false,
                data: {"token":TOKEN},
                success: function (response) {
                    if (response.code == 200) {
                       $('#username').html(response.data.username+"<span class=\"layui-nav-more\"></span>");
                    }else{
                        layer.msg(response.msg);
                    }
                },
                error: function (response) {
                    layer.open({
                        type: 1,
                        title: '出错啦！',
                        content: response.msg,
                    });
                }
            });
        });

    });

</script>
</body>
<!--Tab菜单右键弹出菜单-->
<ul class="rightMenu" id="rightMenu">
    <li data-type="fresh">刷新</li>
    <li data-type="current">关闭当前</li>
    <li data-type="other">关闭其它</li>
    <li data-type="all">关闭所有</li>
</ul>

</html>